@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
section {
  padding: 32px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}
html body {
  font-size: 2rem;
}
