@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
section {
  padding: 64px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  color: #999;
}
body {
  font-size: 2rem;
}
header nav {
  display: flex;
  align-items: baseline;
  padding: 32px 64px;
}
header nav * {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
}
header nav .box {
  flex: 1;
  display: flex;
  justify-content: center;
}
header nav .nav-logo {
  display: flex;
  justify-content: flex-start;
}
header nav .nav-logo h1 {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  margin: 0 16px;
}
header nav .login {
  display: flex;
  justify-content: flex-end;
}
header nav .login a:last-child {
  margin-left: 32px;
}
header {
  background: url(../img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
}
header .hero {
  margin-top: -110px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .hero * {
  color: #fff;
}
header .hero h1 {
  font-size: 7rem;
  margin: 0;
}
header .hero h2 {
  margin-top: 0;
}
header .hero img {
  height: 40px;
}
.about h2 {
  text-align: center;
  margin: 0 0 64px 0;
}
.about .about-item {
  display: flex;
  align-items: center;
}
.about .about-item * {
  margin: 0;
  padding: 0;
}
.about .about-item p {
  padding: 16px;
}
.about .about-item img {
  width: 50%;
}
.about .about-item:last-child {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.about .about-item:last-child ul {
  margin: 0 auto;
}
.download img {
  width: 25%;
}
