header {
  background: url(../img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  width: auto;
  padding-bottom: 64px;

  @media @max500 {
    height: 120vh;
  }

  .hero {
    * {
      color: #fff;
    }

    margin-top: -110px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    br {
      display: none;

      @media @max900 {
        display: inline;
      }
    }

    @media @max900 {
      margin-top: 300px;
      font-size: 1.5rem;
      justify-content: flex-start;
    }

    h1 {
      font-size: 7rem;
      margin: 0;

      @media @max900 {
        margin-top: -208px;
        font-size: 5rem;
      }
    }

    h2 {
      margin-top: 0;
    }
  }
}
