header {
  nav {
    * {
      margin: 0;
      padding: 0;
      color: #fff;
      text-decoration: none;
    }

    display: flex;
    align-items: baseline;
    padding: 32px 64px;

    .box {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .nav-logo {
      display: flex;
      justify-content: flex-start;

      h1 {
        display: inline-block;
      }
    }

    ul {
      list-style-type: none;

      li {
        margin: 0 16px;
      }
    }

    .login {
      display: flex;
      justify-content: flex-end;

      a:last-child {
        margin-left: 32px;
      }
    }
  }
}
